{% extends 'base.html' %}

{% block title %}
    Страница пользователя
{% endblock %}

{% block userlogin %}
    <form>
        <span><a href="{{ url_for('profile') }}">{{ current_user.get_name() }}</a></span>
        <button class="btn btn-outline-primary me-2" formaction="/logout">Выйти</button>
    </form>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {{ chat.name }}
    </div>
    <div class="chat">
        <div class="chat-history">
            <ul class="m-b-0">
                {% for message in messages %}
                    <li>
                        <span>{{ message.author.profile.name }}({{ message.date }}):{{ message.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="chat-message clearfix">
            <div class="input-group mb-0">
                <form method="post" action="{{ url_for('show_chat', chat_id=chat.id) }}">
                    {{ message_form.hidden_tag() }}
                    {{ message_form.text(placeholder='Сообщение') }}
                    {{ message_form.submit() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
